<table class="table">
 
  <tbody>
    <tr>
        <td>Состав</td>
        <td>{{product.composition}}</td>
      </tr>
      <tr>
        <td>Вес</td>
        <td>{{product.weight}}</td>
      </tr>
      <tr>
      <td>Срок годности</td>
      <td>{{product.expiration_date}}</td>
      </tr>
       <tr>
        <td>Крем</td>
        <td>{{product.cream}}</td>
      </tr>
      <tr>
        <td>Тесто</td>
        <td>{{product.dough}}</td>
      </tr>
      

  </tbody>
</table>
</body>
</html>
